In [1]:
import pandas as pd

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('C:\\Users\\lokesh.s\\Downloads\\predict sales data\\Sales_October_2019.csv')
print(df)

      Order ID                 Product Quantity Ordered Price Each  \
0       259358  34in Ultrawide Monitor                1     379.99
1       259359  27in 4K Gaming Monitor                1     389.99
2       259360  AAA Batteries (4-pack)                2       2.99
3       259361        27in FHD Monitor                1     149.99
4       259362        Wired Headphones                1      11.99
...        ...                     ...              ...        ...
20374   278792   AA Batteries (4-pack)                1       3.84
20375   278793        Wired Headphones                1      11.99
20376   278794   AA Batteries (4-pack)                1       3.84
20377   278795                  iPhone                1        700
20378   278796        Wired Headphones                1      11.99

           Order Date                           Purchase Address
0      10/28/19 10:56            609 Cherry St, Dallas, TX 75001
1      10/28/19 17:26          225 5th St, Los Angeles, CA 90001
2      10/24/19 17:20       967 12th St, New York City, NY 10001
3      10/14/19 22:26  628 Jefferson St, New York City, NY 10001
4      10/07/19 16:10         534 14th St, Los Angeles, CA 90001
...               ...                                        ...
20374  10/12/19 04:32      920 Adams St, San Francisco, CA 94016
20375  10/28/19 22:00     161 Chestnut St, Los Angeles, CA 90001
20376  10/09/19 20:58     346 Spruce St, San Francisco, CA 94016
20377  10/31/19 17:21             291 Hill St, Seattle, WA 98101
20378  10/13/19 11:20    547 Jefferson St, Los Angeles, CA 90001

[20379 rows x 6 columns]

In [5]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,259358,34in Ultrawide Monitor,1,379.99,10/28/19 10:56,"609 Cherry St, Dallas, TX 75001"
1,259359,27in 4K Gaming Monitor,1,389.99,10/28/19 17:26,"225 5th St, Los Angeles, CA 90001"
2,259360,AAA Batteries (4-pack),2,2.99,10/24/19 17:20,"967 12th St, New York City, NY 10001"
3,259361,27in FHD Monitor,1,149.99,10/14/19 22:26,"628 Jefferson St, New York City, NY 10001"
4,259362,Wired Headphones,1,11.99,10/07/19 16:10,"534 14th St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
20374,278792,AA Batteries (4-pack),1,3.84,10/12/19 04:32,"920 Adams St, San Francisco, CA 94016"
20375,278793,Wired Headphones,1,11.99,10/28/19 22:00,"161 Chestnut St, Los Angeles, CA 90001"
20376,278794,AA Batteries (4-pack),1,3.84,10/09/19 20:58,"346 Spruce St, San Francisco, CA 94016"
20377,278795,iPhone,1,700,10/31/19 17:21,"291 Hill St, Seattle, WA 98101"
20378,278796,Wired Headphones,1,11.99,10/13/19 11:20,"547 Jefferson St, Los Angeles, CA 90001"

In [6]:
df = df.dropna(how='all')
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,259358,34in Ultrawide Monitor,1,379.99,10/28/19 10:56,"609 Cherry St, Dallas, TX 75001"
1,259359,27in 4K Gaming Monitor,1,389.99,10/28/19 17:26,"225 5th St, Los Angeles, CA 90001"
2,259360,AAA Batteries (4-pack),2,2.99,10/24/19 17:20,"967 12th St, New York City, NY 10001"
3,259361,27in FHD Monitor,1,149.99,10/14/19 22:26,"628 Jefferson St, New York City, NY 10001"
4,259362,Wired Headphones,1,11.99,10/07/19 16:10,"534 14th St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
20374,278792,AA Batteries (4-pack),1,3.84,10/12/19 04:32,"920 Adams St, San Francisco, CA 94016"
20375,278793,Wired Headphones,1,11.99,10/28/19 22:00,"161 Chestnut St, Los Angeles, CA 90001"
20376,278794,AA Batteries (4-pack),1,3.84,10/09/19 20:58,"346 Spruce St, San Francisco, CA 94016"
20377,278795,iPhone,1,700,10/31/19 17:21,"291 Hill St, Seattle, WA 98101"
20378,278796,Wired Headphones,1,11.99,10/13/19 11:20,"547 Jefferson St, Los Angeles, CA 90001"

In [10]:
df['Product'].value_counts()

Product
USB-C Charging Cable          2438
Lightning Charging Cable      2412
AA Batteries (4-pack)         2239
AAA Batteries (4-pack)        2234
Wired Headphones              2091
Apple Airpods Headphones      1663
Bose SoundSport Headphones    1437
27in FHD Monitor               789
27in 4K Gaming Monitor         718
iPhone                         715
34in Ultrawide Monitor         671
Google Phone                   597
Macbook Pro Laptop             525
Flatscreen TV                  523
ThinkPad Laptop                459
20in Monitor                   426
Vareebadd Phone                203
LG Washing Machine              61
LG Dryer                        50
Product                          1
Name: count, dtype: int64

In [8]:
df = df.drop_duplicates()

In [9]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,259358,34in Ultrawide Monitor,1,379.99,10/28/19 10:56,"609 Cherry St, Dallas, TX 75001"
1,259359,27in 4K Gaming Monitor,1,389.99,10/28/19 17:26,"225 5th St, Los Angeles, CA 90001"
2,259360,AAA Batteries (4-pack),2,2.99,10/24/19 17:20,"967 12th St, New York City, NY 10001"
3,259361,27in FHD Monitor,1,149.99,10/14/19 22:26,"628 Jefferson St, New York City, NY 10001"
4,259362,Wired Headphones,1,11.99,10/07/19 16:10,"534 14th St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
20374,278792,AA Batteries (4-pack),1,3.84,10/12/19 04:32,"920 Adams St, San Francisco, CA 94016"
20375,278793,Wired Headphones,1,11.99,10/28/19 22:00,"161 Chestnut St, Los Angeles, CA 90001"
20376,278794,AA Batteries (4-pack),1,3.84,10/09/19 20:58,"346 Spruce St, San Francisco, CA 94016"
20377,278795,iPhone,1,700,10/31/19 17:21,"291 Hill St, Seattle, WA 98101"
20378,278796,Wired Headphones,1,11.99,10/13/19 11:20,"547 Jefferson St, Los Angeles, CA 90001"

In [11]:
df['Product'].value_counts()

Product
USB-C Charging Cable          2438
Lightning Charging Cable      2412
AA Batteries (4-pack)         2239
AAA Batteries (4-pack)        2234
Wired Headphones              2091
Apple Airpods Headphones      1663
Bose SoundSport Headphones    1437
27in FHD Monitor               789
27in 4K Gaming Monitor         718
iPhone                         715
34in Ultrawide Monitor         671
Google Phone                   597
Macbook Pro Laptop             525
Flatscreen TV                  523
ThinkPad Laptop                459
20in Monitor                   426
Vareebadd Phone                203
LG Washing Machine              61
LG Dryer                        50
Product                          1
Name: count, dtype: int64

In [12]:
index = df[df['Price Each'] == 'Price Each'].index[0]
print(index)

521

In [33]:
df = df.drop(521)

KeyError: '[521] not found in axis'

In [14]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,259358,34in Ultrawide Monitor,1,379.99,10/28/19 10:56,"609 Cherry St, Dallas, TX 75001"
1,259359,27in 4K Gaming Monitor,1,389.99,10/28/19 17:26,"225 5th St, Los Angeles, CA 90001"
2,259360,AAA Batteries (4-pack),2,2.99,10/24/19 17:20,"967 12th St, New York City, NY 10001"
3,259361,27in FHD Monitor,1,149.99,10/14/19 22:26,"628 Jefferson St, New York City, NY 10001"
4,259362,Wired Headphones,1,11.99,10/07/19 16:10,"534 14th St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
20374,278792,AA Batteries (4-pack),1,3.84,10/12/19 04:32,"920 Adams St, San Francisco, CA 94016"
20375,278793,Wired Headphones,1,11.99,10/28/19 22:00,"161 Chestnut St, Los Angeles, CA 90001"
20376,278794,AA Batteries (4-pack),1,3.84,10/09/19 20:58,"346 Spruce St, San Francisco, CA 94016"
20377,278795,iPhone,1,700,10/31/19 17:21,"291 Hill St, Seattle, WA 98101"
20378,278796,Wired Headphones,1,11.99,10/13/19 11:20,"547 Jefferson St, Los Angeles, CA 90001"

In [15]:
df['Price Each'].value_counts()

Price Each
11.95     2438
14.95     2412
3.84      2239
2.99      2234
11.99     2091
150       1636
99.99     1437
149.99     789
389.99     718
700        704
379.99     671
600        587
1700       522
300        519
999.99     459
109.99     426
400        200
600.0      121
150.0       27
700.0       11
300.0        4
400.0        3
1700.0       3
Name: count, dtype: int64

In [17]:
print(df['Order Date'].dtype)

object

In [18]:
date_format = '%m/%d/%y %H:%M'
df['datetime'] = pd.to_datetime(df['Order Date'], format=date_format)

In [19]:
df['date'] = df['datetime'].dt.date
df['time'] = df['datetime'].dt.time

In [20]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,datetime,date,time
0,259358,34in Ultrawide Monitor,1,379.99,10/28/19 10:56,"609 Cherry St, Dallas, TX 75001",2019-10-28 10:56:00,2019-10-28,10:56:00
1,259359,27in 4K Gaming Monitor,1,389.99,10/28/19 17:26,"225 5th St, Los Angeles, CA 90001",2019-10-28 17:26:00,2019-10-28,17:26:00
2,259360,AAA Batteries (4-pack),2,2.99,10/24/19 17:20,"967 12th St, New York City, NY 10001",2019-10-24 17:20:00,2019-10-24,17:20:00
3,259361,27in FHD Monitor,1,149.99,10/14/19 22:26,"628 Jefferson St, New York City, NY 10001",2019-10-14 22:26:00,2019-10-14,22:26:00
4,259362,Wired Headphones,1,11.99,10/07/19 16:10,"534 14th St, Los Angeles, CA 90001",2019-10-07 16:10:00,2019-10-07,16:10:00
...,...,...,...,...,...,...,...,...,...
20374,278792,AA Batteries (4-pack),1,3.84,10/12/19 04:32,"920 Adams St, San Francisco, CA 94016",2019-10-12 04:32:00,2019-10-12,04:32:00
20375,278793,Wired Headphones,1,11.99,10/28/19 22:00,"161 Chestnut St, Los Angeles, CA 90001",2019-10-28 22:00:00,2019-10-28,22:00:00
20376,278794,AA Batteries (4-pack),1,3.84,10/09/19 20:58,"346 Spruce St, San Francisco, CA 94016",2019-10-09 20:58:00,2019-10-09,20:58:00
20377,278795,iPhone,1,700,10/31/19 17:21,"291 Hill St, Seattle, WA 98101",2019-10-31 17:21:00,2019-10-31,17:21:00
20378,278796,Wired Headphones,1,11.99,10/13/19 11:20,"547 Jefferson St, Los Angeles, CA 90001",2019-10-13 11:20:00,2019-10-13,11:20:00

In [21]:
df = df.drop(columns=['datetime'])

In [22]:
df = df.drop(columns=['Order Date'])

In [23]:
df[['Street Address', 'City', 'ZIP Code']] = df['Purchase Address'].str.split(', ', expand=True)

In [24]:
df

,Order ID,Product,Quantity Ordered,Price Each,Purchase Address,date,time,Street Address,City,ZIP Code
0,259358,34in Ultrawide Monitor,1,379.99,"609 Cherry St, Dallas, TX 75001",2019-10-28,10:56:00,609 Cherry St,Dallas,TX 75001
1,259359,27in 4K Gaming Monitor,1,389.99,"225 5th St, Los Angeles, CA 90001",2019-10-28,17:26:00,225 5th St,Los Angeles,CA 90001
2,259360,AAA Batteries (4-pack),2,2.99,"967 12th St, New York City, NY 10001",2019-10-24,17:20:00,967 12th St,New York City,NY 10001
3,259361,27in FHD Monitor,1,149.99,"628 Jefferson St, New York City, NY 10001",2019-10-14,22:26:00,628 Jefferson St,New York City,NY 10001
4,259362,Wired Headphones,1,11.99,"534 14th St, Los Angeles, CA 90001",2019-10-07,16:10:00,534 14th St,Los Angeles,CA 90001
...,...,...,...,...,...,...,...,...,...,...
20374,278792,AA Batteries (4-pack),1,3.84,"920 Adams St, San Francisco, CA 94016",2019-10-12,04:32:00,920 Adams St,San Francisco,CA 94016
20375,278793,Wired Headphones,1,11.99,"161 Chestnut St, Los Angeles, CA 90001",2019-10-28,22:00:00,161 Chestnut St,Los Angeles,CA 90001
20376,278794,AA Batteries (4-pack),1,3.84,"346 Spruce St, San Francisco, CA 94016",2019-10-09,20:58:00,346 Spruce St,San Francisco,CA 94016
20377,278795,iPhone,1,700,"291 Hill St, Seattle, WA 98101",2019-10-31,17:21:00,291 Hill St,Seattle,WA 98101
20378,278796,Wired Headphones,1,11.99,"547 Jefferson St, Los Angeles, CA 90001",2019-10-13,11:20:00,547 Jefferson St,Los Angeles,CA 90001

In [25]:
df = df.drop('Street Address', axis=1)

In [26]:
if 'Street Address' in df.columns:
    df = df.drop(columns=['Street Address'])
else:
    print(f"Column '{'Street Address'}' does not exist in the DataFrame.")

# Print the resulting DataFrame
print(df)

Column 'Street Address' does not exist in the DataFrame.
      Order ID                 Product Quantity Ordered Price Each  \
0       259358  34in Ultrawide Monitor                1     379.99
1       259359  27in 4K Gaming Monitor                1     389.99
2       259360  AAA Batteries (4-pack)                2       2.99
3       259361        27in FHD Monitor                1     149.99
4       259362        Wired Headphones                1      11.99
...        ...                     ...              ...        ...
20374   278792   AA Batteries (4-pack)                1       3.84
20375   278793        Wired Headphones                1      11.99
20376   278794   AA Batteries (4-pack)                1       3.84
20377   278795                  iPhone                1        700
20378   278796        Wired Headphones                1      11.99

                                Purchase Address        date      time  \
0                609 Cherry St, Dallas, TX 75001  2019-10-28  10:56:00
1              225 5th St, Los Angeles, CA 90001  2019-10-28  17:26:00
2           967 12th St, New York City, NY 10001  2019-10-24  17:20:00
3      628 Jefferson St, New York City, NY 10001  2019-10-14  22:26:00
4             534 14th St, Los Angeles, CA 90001  2019-10-07  16:10:00
...                                          ...         ...       ...
20374      920 Adams St, San Francisco, CA 94016  2019-10-12  04:32:00
20375     161 Chestnut St, Los Angeles, CA 90001  2019-10-28  22:00:00
20376     346 Spruce St, San Francisco, CA 94016  2019-10-09  20:58:00
20377             291 Hill St, Seattle, WA 98101  2019-10-31  17:21:00
20378    547 Jefferson St, Los Angeles, CA 90001  2019-10-13  11:20:00

                City  ZIP Code
0             Dallas  TX 75001
1        Los Angeles  CA 90001
2      New York City  NY 10001
3      New York City  NY 10001
4        Los Angeles  CA 90001
...              ...       ...
20374  San Francisco  CA 94016
20375    Los Angeles  CA 90001
20376  San Francisco  CA 94016
20377        Seattle  WA 98101
20378    Los Angeles  CA 90001

[20251 rows x 9 columns]

In [27]:
df = df.drop('ZIP Code', axis=1)

In [28]:
df

,Order ID,Product,Quantity Ordered,Price Each,Purchase Address,date,time,City
0,259358,34in Ultrawide Monitor,1,379.99,"609 Cherry St, Dallas, TX 75001",2019-10-28,10:56:00,Dallas
1,259359,27in 4K Gaming Monitor,1,389.99,"225 5th St, Los Angeles, CA 90001",2019-10-28,17:26:00,Los Angeles
2,259360,AAA Batteries (4-pack),2,2.99,"967 12th St, New York City, NY 10001",2019-10-24,17:20:00,New York City
3,259361,27in FHD Monitor,1,149.99,"628 Jefferson St, New York City, NY 10001",2019-10-14,22:26:00,New York City
4,259362,Wired Headphones,1,11.99,"534 14th St, Los Angeles, CA 90001",2019-10-07,16:10:00,Los Angeles
...,...,...,...,...,...,...,...,...
20374,278792,AA Batteries (4-pack),1,3.84,"920 Adams St, San Francisco, CA 94016",2019-10-12,04:32:00,San Francisco
20375,278793,Wired Headphones,1,11.99,"161 Chestnut St, Los Angeles, CA 90001",2019-10-28,22:00:00,Los Angeles
20376,278794,AA Batteries (4-pack),1,3.84,"346 Spruce St, San Francisco, CA 94016",2019-10-09,20:58:00,San Francisco
20377,278795,iPhone,1,700,"291 Hill St, Seattle, WA 98101",2019-10-31,17:21:00,Seattle
20378,278796,Wired Headphones,1,11.99,"547 Jefferson St, Los Angeles, CA 90001",2019-10-13,11:20:00,Los Angeles

In [29]:
df = df.drop('Purchase Address', axis=1)

In [30]:
df

,Order ID,Product,Quantity Ordered,Price Each,date,time,City
0,259358,34in Ultrawide Monitor,1,379.99,2019-10-28,10:56:00,Dallas
1,259359,27in 4K Gaming Monitor,1,389.99,2019-10-28,17:26:00,Los Angeles
2,259360,AAA Batteries (4-pack),2,2.99,2019-10-24,17:20:00,New York City
3,259361,27in FHD Monitor,1,149.99,2019-10-14,22:26:00,New York City
4,259362,Wired Headphones,1,11.99,2019-10-07,16:10:00,Los Angeles
...,...,...,...,...,...,...,...
20374,278792,AA Batteries (4-pack),1,3.84,2019-10-12,04:32:00,San Francisco
20375,278793,Wired Headphones,1,11.99,2019-10-28,22:00:00,Los Angeles
20376,278794,AA Batteries (4-pack),1,3.84,2019-10-09,20:58:00,San Francisco
20377,278795,iPhone,1,700,2019-10-31,17:21:00,Seattle
20378,278796,Wired Headphones,1,11.99,2019-10-13,11:20:00,Los Angeles

In [34]:
df.to_excel('october1.xlsx', index=False)